Repository OmniNode-ai/omnibase: changes, and which pre-commit hooks are due for each by the changed paths.
All: metadata-stamper, mypy-poetry, pytest-pre-push

metadata-stamper:
  name: ONEX Metadata Stamper
  entry: poetry run onex stamp file
  language: system
  pass_filenames: true

mypy-poetry:
  name: mypy (poetry-managed type checking)
  entry: 'bash -c ''PYTHONPATH=src poetry run mypy . --show-error-codes --pretty''
  
    '
  language: system
  pass_filenames: false

pytest-pre-push:
  name: Run pytest before push
  entry: scripts/pytest_pre_push.sh
  language: system
  stages:
  - pre-push

node_manager and template updated with CLI models
  src/omnibase/constants.py
  src/omnibase/enums/enum_node_arg.py
  src/omnibase/nodes/node_manager/template/v1_0_0/enums/enum_template_node_arg.py
  src/omnibase/nodes/node_manager/template/v1_0_0/enums/enum_template_node_command.py
  src/omnibase/nodes/node_manager/template/v1_0_0/models/model_cli_command.py
  src/omnibase/nodes/node_manager/template/v1_0_0/scenarios/index.yaml
  src/omnibase/nodes/node_manager/template/v1_0_0/scenarios/scenario_cli_arg_example.yaml
  src/omnibase/nodes/node_manager/template/v1_0_0/scenarios/scenario_cli_command_generate.yaml
  src/omnibase/nodes/node_manager/template/v1_0_0/scenarios/scenario_cli_command_run.yaml
  src/omnibase/nodes/node_manager/v1_0_0/enums/enum_node_manager_arg.py
  src/omnibase/nodes/node_manager/v1_0_0/enums/enum_node_manager_command.py
  src/omnibase/nodes/node_manager/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/models/model_cli_command.py
  src/omnibase/nodes/node_manager/v1_0_0/node.py
  src/omnibase/nodes/node_manager/v1_0_0/node_tests/conftest.py
  src/omnibase/nodes/node_manager/v1_0_0/node_tests/test_scenarios.py
  src/omnibase/nodes/node_manager/v1_0_0/registry/registry_node_manager.py
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/index.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_arg_bootstrap.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_arg_custom_config.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_arg_generate_artifact.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_arg_health_check.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_arg_introspect.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_cli_arg_bootstrap.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_cli_arg_custom_config.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_cli_arg_generate_artifact.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_cli_arg_health_check.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_cli_arg_introspect.yaml
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_file_generator.py
  src/omnibase/protocol/protocol_cli_commands.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

node manager and kafka node cli patterns updated.
  src/omnibase/mixin/event_driven_node_mixin.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/enums/enum_node_kafka_arg.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/enums/enum_node_kafka_command.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/models/model_cli_command.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_logger/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/registry/registry_node_manager.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_metadata_loader.py
  src/omnibase/nodes/node_registry_node/v1_0_0/models/state.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

checklist updated
  src/omnibase/nodes/node_manager/v1_0_0/node_manager_migration_checklist.md
Due: metadata-stamper

replaced error imports
  src/omnibase/core/core_file_type_handler_registry.py
  src/omnibase/mixin/event_driven_node_mixin.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_backend_selection.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_kafka_event_bus.py
  src/omnibase/nodes/node_logger/v1_0_0/introspection.py
  src/omnibase/nodes/node_logger/v1_0_0/node.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_backend_selection.py
  src/omnibase/nodes/node_manager/template/v1_0_0/tools/tool_backend_selection.py
  src/omnibase/nodes/node_manager/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_backend_selection.py
  src/omnibase/nodes/node_registry_node/v1_0_0/node.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/helpers/registry_engine.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node.py
  src/omnibase/nodes/stamper_node/v1_0_0/helpers/engine.py
  src/omnibase/nodes/test_kafka_clone_node/tools/tool_backend_selection.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/mixins/mixin_metadata_block.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/telemetry/telemetry.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/tools/tool_registry_resolver.py
  src/omnibase/utils/utils_uri_parser.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

file generator updated
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/codegen/contract_to_model.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

registry standard
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/constants.py
  src/omnibase/mixin/event_driven_node_mixin.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/introspection.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node_tests/conftest.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/index.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/snapshots/snapshot_scenario_introspection.yaml
  src/omnibase/nodes/node_manager/v1_0_0/node_manager_migration_checklist.md
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_metadata_loader.py
  src/omnibase/registry/base_registry.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/tools/tool_registry_resolver.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

Registry updated for no manager with updates to error codes for Kafka and no manager
  .cursor/rules/modes.mdc
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/contract.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/error_codes.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/models/state.py
  src/omnibase/nodes/node_manager/template/v1_0_0/contract.yaml
  src/omnibase/nodes/node_manager/v1_0_0/contract.yaml
  src/omnibase/nodes/node_manager/v1_0_0/error_codes.py
  src/omnibase/nodes/node_manager/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/models/state.py
  src/omnibase/nodes/node_manager/v1_0_0/node.py
  src/omnibase/nodes/node_manager/v1_0_0/node_tests/conftest.py
  src/omnibase/nodes/node_manager/v1_0_0/node_tests/test_scenarios.py
  src/omnibase/nodes/node_manager/v1_0_0/registry/registry_node_manager.py
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_backend_selection_invalid.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_cli_commands_invalid.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_file_generator_invalid.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_maintenance_invalid.yaml
  src/omnibase/nodes/node_manager/v1_0_0/scenarios/scenario_template_engine_invalid.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_integration.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_invalid_version.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_missing_required.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_output_field.yaml
  src/omnibase/nodes/node_manager/v1_0_0/snapshots/snapshot_scenario_smoke.yaml
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_backend_selection.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

codegen moved to node_manager
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/error_codes.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_contract_to_model.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_generate_error_codes.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_generate_introspection.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_generate_state_models.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

kafka bus issues fixed
  kafka_test_output.txt
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/cli_tools/onex/v1_0_0/cli_registry.py
  src/omnibase/core/core_structured_logging.py
  src/omnibase/nodes/node_kafka_event_bus/README.md
  src/omnibase/nodes/node_kafka_event_bus/node_kafka_event_bus_daemonization_checklist.md
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/daemon.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/enums/enum_node_kafka_command.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/error_codes.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/kafka_node_daemon.pid
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node_tests/conftest.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/index.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/scenario_context_manager_lifecycle.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/snapshots/snapshot_scenario_context_manager_lifecycle.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/kafka_event_bus_context_manager.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_kafka_event_bus.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_contract_to_model.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_file_generator.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_static_typing_enforcer.py
  src/omnibase/protocol/protocol_event_bus_context_manager.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/events/event_bus_factory.py
  tools/start_kafka_with_zookeeper.sh
Due: metadata-stamper, mypy-poetry, pytest-pre-push

Removed a ton of prints
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/core/core_structured_logging.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/daemon.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_backend_selection.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_kafka_event_bus.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_cli_commands.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

more cli and kafka node work
  docs/architecture/scenario_real_dependencies_proposal.md
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/enums/enum_node_kafka_arg.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/enums/enum_node_kafka_command.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/kafka_node_daemon.pid
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/models/model_cli_command.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/index.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/scenario_secure_cli_commands.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/scenario_security_validation.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/snapshots/snapshot_scenario_secure_cli_commands.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/snapshots/snapshot_scenario_security_validation.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_kafka_event_bus.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

m1.1 real scenario model tests completed
  docs/architecture/scenario_real_dependencies_proposal.md
  src/omnibase/cli_tools/onex/v1_0_0/cli_main.py
  src/omnibase/enums/enum_dependency_mode.py
  src/omnibase/model/model_external_service_config.py
  src/omnibase/model/model_registry_resolution.py
  src/omnibase/model/model_scenario.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/scenario_kafka_real_basic.yaml
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/scenarios/scenario_security_validation.yaml
  src/omnibase/registry/registry_external_service_manager.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/tools/tool_registry_resolver.py
  src/omnibase/tools/tool_factories.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

summarization work
  docs/standards.md
  src/omnibase/model/model_onex_event.py
  src/omnibase/nodes/node_kafka_event_bus/README.md
  src/omnibase/runtimes/onex_runtime/v1_0_0/protocol/tool_field_summarization_protocol.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/runtime_tests/test_tool_field_summarization.py
  src/omnibase/runtimes/onex_runtime/v1_0_0/tools/tool_field_summarization.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

logger updates
  docs/migration_milestone_checklist.md
  src/omnibase/core/core_bootstrap.py
  src/omnibase/core/core_emit_log_event.py
  src/omnibase/core/core_errors.py
  src/omnibase/core/protocols/protocol_core_logging.py
  src/omnibase/nodes/node_logger/logger_node_standards_checklist.md
  src/omnibase/nodes/node_logger/protocols/protocol_logger_emit_log_event.py
  src/omnibase/nodes/node_logger/v1_0_0/node.py
  src/omnibase/nodes/node_logger/v1_0_0/registry/registry_node_logger.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/__init__.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_logger_emit_log_event.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_smart_log_formatter.py
  src/omnibase/tools/update_node_test_coverage.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

logger node updaates
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/tools/tool_kafka_event_bus.py
  src/omnibase/nodes/node_logger/protocols/protocol_context_aware_output_handler.py
  src/omnibase/nodes/node_logger/protocols/protocol_logger_engine.py
  src/omnibase/nodes/node_logger/protocols/protocol_smart_log_formatter.py
  src/omnibase/nodes/node_logger/v1_0_0/registry/registry_node_logger.py
  src/omnibase/nodes/node_logger/v1_0_0/scenarios/scenario_output_json.yaml
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_logger_emit_log_event.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_logger_engine.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_smart_log_formatter.py
  src/omnibase/nodes/node_manager/v1_0_0/node.py
  src/omnibase/nodes/node_manager/v1_0_0/registry/registry_node_manager.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_cli_commands.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_contract_compliance.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_error_code_usage.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_file_generator.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_generate_state_models.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_introspection_validity.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_maintenance.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_node_discovery.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_node_validation.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_schema_conformance.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_schema_generator.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_template_engine.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_validation_engine.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

phase 0 mostly resolved
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/node.py
  src/omnibase/nodes/node_kafka_event_bus/v1_0_0/registry/registry_kafka_event_bus.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/__init__.py
  src/omnibase/nodes/node_logger/v1_0_0/tools/tool_logger_emit_log_event.py
  src/omnibase/nodes/node_manager/v1_0_0/protocols/protocol_contract_to_model.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_contract_to_model.py
  src/omnibase/nodes/node_manager/v1_0_0/tools/tool_template_engine.py
Due: metadata-stamper, mypy-poetry, pytest-pre-push

refactor: Disable CI/hooks during major refactor + add manual quality tools
  .github/workflows_disabled/ci.yml
  refactor_tools.sh
Due: metadata-stamper

feat: initial omnibase distribution repository with Makefile + installer [OMN-7102]
  .env.example
  .gitignore
  Makefile
  README.md
  docs/GETTING_STARTED.md
  install.sh
  repos.yaml
Due: metadata-stamper

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: metadata-stamper

chore(OMN-10378): strip Docker/Compose orchestration from public Makefile
  Makefile
Due: none

chore(OMN-10378): strip Docker/Compose orchestration from public Makefile (#1)
  Makefile
Due: none

chore(OMN-12458): add onex-managed gitignore blocks for universal and python patterns
  .gitignore
Due: none

chore(OMN-12458): add onex-managed gitignore blocks for universal and python patterns (#2)
  .gitignore
Due: none

Update README.md
  README.md
Due: metadata-stamper

docs(OMN-13173): refresh omnibase documentation
  CLAUDE.md
  README.md
  docs/GETTING_STARTED.md
Due: metadata-stamper

docs(OMN-13173): refresh omnibase documentation (#3)
  CLAUDE.md
  README.md
  docs/GETTING_STARTED.md
Due: metadata-stamper

docs(OMN-13570): sanitize omnibase documentation (local-env + OMN-XXXX + renames)
  CLAUDE.md
Due: metadata-stamper

docs(OMN-13570): sanitize omnibase documentation (local-env + OMN-XXXX + renames) (#4)
  CLAUDE.md
Due: metadata-stamper

docs(OMN-16126): scrub live topology and personal paths from public docs — omnibase + OmniNode-ai/.github
  CLAUDE.md
  install.sh
  repos.yaml
Due: metadata-stamper

docs(OMN-16126): scrub live topology and personal paths from public docs — omnibase + OmniNode-ai/.github (#5)
  CLAUDE.md
  install.sh
  repos.yaml
Due: metadata-stamper

fix(OMN-16126): remove private repos from public installer manifest
  CLAUDE.md
  repos.yaml
Due: metadata-stamper

fix(OMN-16126): remove private repos from public installer manifest (#6)
  CLAUDE.md
  repos.yaml
Due: metadata-stamper

fix(OMN-16188): document infra-up sourcing requirement for external strangers
  CLAUDE.md
  Makefile
  README.md
  docs/GETTING_STARTED.md
  install.sh
Due: metadata-stamper

fix(OMN-16189): install.sh next-steps banner falsely claims make setup starts Docker
  CLAUDE.md
  Makefile
  README.md
  docs/GETTING_STARTED.md
  install.sh
Due: metadata-stamper

fix(OMN-16189): keep infra bring-up off the default onboarding path
  CLAUDE.md
  Makefile
  README.md
  docs/GETTING_STARTED.md
  install.sh
Due: metadata-stamper

fix(OMN-16189): install.sh next-steps banner falsely claims make setup starts Docker (#7)
  CLAUDE.md
  Makefile
  README.md
  docs/GETTING_STARTED.md
  install.sh
Due: metadata-stamper

Path conditions:
  metadata-stamper: any of: \.(py|md|ya?ml|json)$, but not: ^\.pre-commit-config\.yaml$| src/omnibase/metadata/metadata_constants\.py| tests/schema/testdata/valid_onex_node\.yaml| contract\.yaml$| node\.onex\.yaml$

  mypy-poetry: any of: \.py$
  pytest-pre-push: any of: \.py$
