Repository OmniNode-ai/omnibase: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, metadata-stamper, pytest-pre-push

mypy-poetry:
  name: mypy (poetry-managed type checking)
  entry: poetry run mypy
  language: system
  pass_filenames: false
  args:
  - src/

metadata-stamper:
  name: ONEX Metadata Stamper
  entry: poetry run onex stamp file
  language: system
  pass_filenames: true

pytest-pre-push:
  name: Run pytest before push
  entry: scripts/pytest_pre_push.sh
  language: system
  stages:
  - pre-push

fix the stamping errors
  .pre-commit-config.yaml
  src/omnibase/nodes/stamper_node/examples/.onexignore
  src/omnibase/nodes/stamper_node/examples/minimal_example.yaml
  src/omnibase/nodes/stamper_node/node.onex.yaml
  src/omnibase/nodes/stamper_node/tests/fixtures/.onexignore
  src/omnibase/nodes/stamper_node/tests/fixtures/minimal_stamped_fixture.yaml
Due: metadata-stamper

fix: delegate StamperEngine.load_onexignore to DirectoryTraverser for parent directory traversal
  .github/.onexignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .onexignore
  .pre-commit-config.yaml
  docs/dev_logs/jonah/debug/debug_log_2025_05_23.md
  docs/dev_logs/jonah/pr/pr_description_2025_05_23_pr19.md
  src/omnibase/metadata/metadata_constants.py
  src/omnibase/nodes/stamper_node/examples/minimal_example.yaml
  src/omnibase/nodes/stamper_node/helpers/stamper_engine.py
  src/omnibase/nodes/stamper_node/node.onex.yaml
  src/omnibase/nodes/stamper_node/stamper_node_contract.yaml
  src/omnibase/nodes/stamper_node/tests/fixtures/minimal_stamped_fixture.yaml
  src/omnibase/schemas/.onexignore
  src/omnibase/utils/directory_traverser.py
  tests/schema/__init__.py
  tests/schema/test_execution_result.py
  tests/schema/test_onex_node.py
  tests/schema/test_state_contract.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

fix: delegate StamperEngine.load_onexignore to DirectoryTraverser for parent directory traversal
  .github/.onexignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .onexignore
  .pre-commit-config.yaml
  src/omnibase/metadata/metadata_constants.py
  src/omnibase/nodes/stamper_node/examples/minimal_example.yaml
  src/omnibase/nodes/stamper_node/helpers/stamper_engine.py
  src/omnibase/nodes/stamper_node/node.onex.yaml
  src/omnibase/nodes/stamper_node/stamper_node_contract.yaml
  src/omnibase/nodes/stamper_node/tests/fixtures/minimal_stamped_fixture.yaml
  src/omnibase/schemas/.onexignore
  src/omnibase/utils/directory_traverser.py
  tests/schema/__init__.py
  tests/schema/test_execution_result.py
  tests/schema/test_onex_node.py
  tests/schema/test_state_contract.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

attempted ci fixes.
  tests/fixtures/cli_stamp_fixtures.py
  tests/fixtures/protocol_cli_dir_fixture_registry.py
  tests/runtime/handlers/test_handler_ignore.py
  tests/runtime/handlers/test_handler_markdown.py
  tests/runtime/handlers/test_handler_metadata_yaml.py
  tests/runtime/handlers/test_handler_python.py
  tests/runtime/utils/test_onex_version_loader.py
  tests/tools/test_cli_stamp_directory.py
  tests/tools/test_cli_stamp_real_directory.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

fix: add missing type annotations, clean up imports, and autoformat for mypy and linter compliance
  docs/dev_logs/jonah/velocity/velocity_log_2025_05_19_to_2025_05_25.md
  docs/generated/tree_format.md
  docs/index.md
  docs/milestones/milestone_1_checklist.md
  docs/nodes/canary_node_cli_alignment.md
  docs/nodes/structural_conventions.md
  docs/registry.md
  docs/registry_architecture.md
  docs/standards/canonical_file_types.md
  src/omnibase/cli/commands/run_node.py
  src/omnibase/core/core_node_cli_adapter_registry.py
  src/omnibase/nodes/stamper_node/helpers/stamper_node_cli_adapter.py
  src/omnibase/nodes/stamper_node/tests/test_stamper_node_cli_adapter.py
  src/omnibase/protocol/protocol_node_cli_adapter.py
  tests/runtime/test_event_bus.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

fix: add missing type annotations, clean up imports, and autoformat for mypy and linter compliance
  src/omnibase/cli/commands/run_node.py
  src/omnibase/core/core_node_cli_adapter_registry.py
  src/omnibase/nodes/stamper_node/helpers/stamper_node_cli_adapter.py
  src/omnibase/nodes/stamper_node/tests/test_stamper_node_cli_adapter.py
  src/omnibase/protocol/protocol_node_cli_adapter.py
  tests/runtime/test_event_bus.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

[stamper_node][tests] Fix import paths to use versioned helpers; all static analysis and mypy checks now pass.
  src/omnibase/nodes/registry.py
  src/omnibase/nodes/stamper_node/helpers/py.typed
  src/omnibase/nodes/stamper_node/v1_0_0/.onexignore
  src/omnibase/nodes/stamper_node/v1_0_0/README.md
  src/omnibase/nodes/stamper_node/v1_0_0/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/cli_stamp.py
  src/omnibase/nodes/stamper_node/v1_0_0/examples/.onexignore
  src/omnibase/nodes/stamper_node/v1_0_0/examples/minimal_example.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/helpers/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/helpers/engine.py
  src/omnibase/nodes/stamper_node/v1_0_0/helpers/stamper_engine.py
  src/omnibase/nodes/stamper_node/v1_0_0/helpers/stamper_node_cli_adapter.py
  src/omnibase/nodes/stamper_node/v1_0_0/models/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/models/state.py
  src/omnibase/nodes/stamper_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/node.py
  src/omnibase/nodes/stamper_node/v1_0_0/pytest.ini
  src/omnibase/nodes/stamper_node/v1_0_0/stamper_node_contract.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/tests/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/fixtures/.onexignore
  src/omnibase/nodes/stamper_node/v1_0_0/tests/fixtures/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/fixtures/minimal_stamped_fixture.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/tests/handlers/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/mocks/__init__.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/mocks/dummy_schema_loader.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/protocol_stamper_test_case.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/stamper_test_registry_cases.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/test_in_memory_stamper.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/test_node.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/test_stamper.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/test_stamper_engine.py
  src/omnibase/nodes/stamper_node/v1_0_0/tests/test_stamper_node_cli_adapter.py
  src/omnibase/tools/cli_main.py
  tests/tools/test_cli_main.py
  tests/tools/test_cli_stamp_directory.py
  tests/tools/test_cli_stamp_real_directory.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

docs: update all documentation for canonical registry-centric, versioned artifact structure (.onextree, loader, migration rationale, cross-links)
  docs/README.md
  docs/generated/tree_format.md
  docs/nodes/structural_conventions.md
  docs/registry_architecture.md
  docs/standards/canonical_file_types.md
Due: metadata-stamper

test: remove obsolete handlers/tests from pytest.ini testpaths (no test files present, prevents spurious collection errors)
  pytest.ini
Due: none

docs: add PR description for testing standards fix
  docs/dev_logs/jonah/pr/pr_description_2025_05_24_pr_testing_standards_fix.md
Due: metadata-stamper

pr doc updates
  docs/dev_logs/jonah/pr/pr_description_2025_05_24_pr20.md
Due: metadata-stamper

feat: complete tree generator implementation and optimize directory structure
  .onextree
  src/omnibase/.onextree
  src/omnibase/cli_tools/onex/v1_0_0/cli_tool.yaml
  src/omnibase/nodes/stamper_node/helpers/py.typed
  src/omnibase/nodes/template_node/TEMPLATE_USAGE.md
  src/omnibase/nodes/template_node/helpers/py.typed
  src/omnibase/nodes/template_node/v1_0_0/.onexignore
  src/omnibase/nodes/template_node/v1_0_0/src/main.py
  src/omnibase/nodes/tree_generator_node/__init__.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/.onexignore
  src/omnibase/nodes/tree_generator_node/v1_0_0/README.md
  src/omnibase/nodes/tree_generator_node/v1_0_0/__init__.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/models/__init__.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/models/state.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/__init__.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/test_tree_generator.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/pytest.ini
  src/omnibase/nodes/tree_generator_node/v1_0_0/tree_generator_node_contract.yaml
  src/omnibase/registry/registry.yaml
  src/omnibase/runtimes/onex_runtime/v1_0_0/runtime.yaml
  src/omnibase/tools/tree_generator.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

fix: resolve stamper restamping issue and refactor tree generator node - add .onexignore files, remove metadata blocks from contract files, fix OnexStatus enum usage, all pre-commit hooks now pass
  .onextree
  src/.onextree
  src/omnibase/.onextree
  src/omnibase/cli_tools/onex/v1_0_0/.onexignore
  src/omnibase/cli_tools/onex/v1_0_0/cli_tool.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/.onexignore
  src/omnibase/nodes/stamper_node/v1_0_0/stamper_node_contract.yaml
  src/omnibase/nodes/template_node/v1_0_0/.onexignore
  src/omnibase/nodes/template_node/v1_0_0/template_node_contract.yaml
  src/omnibase/nodes/tree_generator_node/v1_0_0/.onexignore
  src/omnibase/nodes/tree_generator_node/v1_0_0/helpers/tree_generator_engine.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/tree_generator_node_contract.yaml
  src/omnibase/registry/.onexignore
  src/omnibase/registry/registry.yaml
  src/omnibase/runtimes/onex_runtime/v1_0_0/.onexignore
  src/omnibase/runtimes/onex_runtime/v1_0_0/runtime.yaml
Due: mypy-poetry, metadata-stamper, pytest-pre-push

chore: standards-compliant, type-safe onextree validator; remove all ignores, fix all linter/type errors, and ensure clean pre-commit
  docs/milestones/milestone_1_checklist.md
  src/omnibase/.onextree
  src/omnibase/model/model_onextree_validation.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/helpers/tree_validator.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/test_tree_generator.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/protocol/protocol_onextree_validator.py
  src/omnibase/tools/onextree_validator.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

chore: standards-compliant, type-safe onextree validator; remove all ignores, fix all linter/type errors, and ensure clean pre-commit
  src/omnibase/.onextree
  src/omnibase/model/model_onextree_validation.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/helpers/tree_validator.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/test_tree_generator.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/protocol/protocol_onextree_validator.py
  src/omnibase/tools/onextree_validator.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Fix pre-commit issues: type annotations, formatting, and protocol compliance
  .github/workflows/ci.yml
  .onextree
  .pre-commit-config.yaml
  docs/milestones/milestone_1_checklist.md
  pytest.ini
  src/omnibase/core/core_tests/core_onex_registry_loader_test_cases.py
  src/omnibase/core/core_tests/test_onex_registry_loader.py
  src/omnibase/core/onex_registry_loader.py
  src/omnibase/model/model_onextree_validation.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/constants.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/test_tree_generator.py
  src/omnibase/protocol/protocol_registry_loader_test_case.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Fix pre-commit issues: type annotations, formatting, and protocol compliance
  .github/workflows/ci.yml
  .onextree
  .pre-commit-config.yaml
  pytest.ini
  src/omnibase/core/core_tests/core_onex_registry_loader_test_cases.py
  src/omnibase/core/core_tests/test_onex_registry_loader.py
  src/omnibase/core/onex_registry_loader.py
  src/omnibase/model/model_onextree_validation.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/constants.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.py
  src/omnibase/nodes/tree_generator_node/v1_0_0/node_tests/test_tree_generator.py
  src/omnibase/protocol/protocol_registry_loader_test_case.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Update registry loader documentation and expand test coverage
  docs/registry_architecture.md
  src/omnibase/core/core_tests/core_onex_registry_loader_test_cases.py
  src/omnibase/core/core_tests/test_onex_registry_loader.py
  src/omnibase/protocol/protocol_registry_loader_test_case.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Update registry loader documentation and expand test coverage
  src/omnibase/core/core_tests/core_onex_registry_loader_test_cases.py
  src/omnibase/core/core_tests/test_onex_registry_loader.py
  src/omnibase/protocol/protocol_registry_loader_test_case.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Add compatibility metadata with semantic version ranges to all artifact metadata files
  src/omnibase/cli_tools/onex/v1_0_0/cli_tool.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/template_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.onex.yaml
  src/omnibase/runtimes/onex_runtime/v1_0_0/runtime.yaml
Due: metadata-stamper

Add compatibility metadata with semantic version ranges to all artifact metadata files
  docs/milestones/milestone_1_checklist.md
  src/omnibase/cli_tools/onex/v1_0_0/cli_tool.yaml
  src/omnibase/nodes/stamper_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/template_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/tree_generator_node/v1_0_0/node.onex.yaml
  src/omnibase/runtimes/onex_runtime/v1_0_0/runtime.yaml
Due: metadata-stamper

Add comprehensive migration notes and examples for maintainers to registry architecture documentation
  docs/milestones/milestone_1_checklist.md
  docs/registry_architecture.md
Due: metadata-stamper

pr description added
  docs/dev_logs/jonah/pr/pr_description_2025_01_24_pr21.md
Due: metadata-stamper

Update pr_description_2025_01_24_pr21.md
  docs/dev_logs/jonah/pr/pr_description_2025_01_24_pr21.md
Due: metadata-stamper

Implement Registry Loader Node with Canonical Testing Patterns - Complete implementation with comprehensive test suite, type safety, and protocol-driven architecture
  .onextree
  docs/dev_logs/jonah/pr/pr_description_2025_05_24_pr22.md
  docs/milestones/milestone_1_checklist.md
  src/omnibase/nodes/registry_loader_node/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/.onexignore
  src/omnibase/nodes/registry_loader_node/v1_0_0/README.md
  src/omnibase/nodes/registry_loader_node/v1_0_0/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/helpers/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/helpers/registry_engine.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/models/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/models/state.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/registry_loader_node/v1_0_0/node.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/test_registry_loader.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/test_registry_loader_setup.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/pytest.ini
  src/omnibase/nodes/registry_loader_node/v1_0_0/registry_loader_node_contract.yaml
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Implement Registry Loader Node with Canonical Testing Patterns - Complete implementation with comprehensive test suite, type safety, and protocol-driven architecture
  .onextree
  src/omnibase/nodes/registry_loader_node/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/.onexignore
  src/omnibase/nodes/registry_loader_node/v1_0_0/README.md
  src/omnibase/nodes/registry_loader_node/v1_0_0/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/helpers/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/helpers/registry_engine.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/models/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/models/state.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node.onex.yaml
  src/omnibase/nodes/registry_loader_node/v1_0_0/node.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/__init__.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/test_registry_loader.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/node_tests/test_registry_loader_setup.py
  src/omnibase/nodes/registry_loader_node/v1_0_0/pytest.ini
  src/omnibase/nodes/registry_loader_node/v1_0_0/registry_loader_node_contract.yaml
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Update PR description cursor rule and fix metadata block - Add explicit warning against manual metadata blocks in cursor rule - Fix PR description file with proper stamped metadata only
  .cursor/rules/pr_description.mdc
Due: none

Update PR description cursor rule and fix metadata block - Add explicit warning against manual metadata blocks in cursor rule - Fix PR description file with proper stamped metadata only
  .cursor/rules/pr_description.mdc
  docs/dev_logs/jonah/pr/pr_description_2025_05_24_pr22.md
Due: metadata-stamper

feat: Complete Phase 3 legacy registry cleanup and migration - Removed 636 lines of legacy code - Enhanced RegistryBridge with test compatibility - All 40 core tests passing - Ready for Phase 4
  .onextree
  docs/dev_logs/jonah/pr/pr_description_2025_05_24_pr21.md
  docs/milestones/milestone_1_checklist.md
  src/omnibase/conftest.py
  src/omnibase/core/__init__.py
  src/omnibase/core/bootstrap_registry.py
  src/omnibase/core/core_cli_registry.py
  src/omnibase/core/core_node_cli_adapter_registry.py
  src/omnibase/core/core_registry.py
  src/omnibase/core/core_tests/core_test_registry_cases.py
  src/omnibase/core/core_tests/test_onex_registry_loader.py
  src/omnibase/core/core_utility_registry.py
  src/omnibase/core/onex_registry_loader.py
  src/omnibase/core/registry_bridge.py
Due: mypy-poetry, metadata-stamper, pytest-pre-push

Path conditions:
  mypy-poetry: any of: \.py$
  metadata-stamper: any of: \.(py|md|ya?ml|json)$
  pytest-pre-push: any of: \.py$
